<a href="https://colab.research.google.com/github/adiltariq234/Python_Code/blob/main/Analysing_using_python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [11]:
import pandas as pd
import numpy as np

data={
    "A":[1,2,3,4,np.nan],
    "B":["Adil","Adeel","Ayan",np.nan,"Ali"],
    "C":["Cat","Dog","Frog",np.nan,"Snack"],
    "D":[1,2,3,4,5]
}
df=pd.DataFrame(data)
print(df)

     A      B      C  D
0  1.0   Adil    Cat  1
1  2.0  Adeel    Dog  2
2  3.0   Ayan   Frog  3
3  4.0    NaN    NaN  4
4  NaN    Ali  Snack  5

In [12]:
print("Dummies Variable of with inducuter ")
print(pd.get_dummies(df,columns=["C"]))

Dummies Variable of with inducuter
     A      B  D  C_Cat  C_Dog  C_Frog  C_Snack
0  1.0   Adil  1   True  False   False    False
1  2.0  Adeel  2  False   True   False    False
2  3.0   Ayan  3  False  False    True    False
3  4.0    NaN  4  False  False   False    False
4  NaN    Ali  5  False  False   False     True

In [18]:
import pandas as pd

marks=[23,24,25,26,27,45,56,65,87,67,87,45,76,45,76]
name=["Adil","Adeel","Ayan","Ali","Adil","Adeel","Ayan","Ali","Adil","Adeel","Ayan","Ali","Adil","Adeel","Ayan"]

# DataFrame banana
df = pd.DataFrame({
    "Name": name,
    "Marks": marks
})

print("Original form of data")
print(df)

# Binning / Discretization
bins = [0,50,60,80,90,100]
labels = ["Fail","Normal","B","A","A+"]

df["Grade"] = pd.cut(df["Marks"], bins=bins, labels=labels)

print("\nAfter Grading")
print(df)

Original form of data
     Name  Marks
0    Adil     23
1   Adeel     24
2    Ayan     25
3     Ali     26
4    Adil     27
5   Adeel     45
6    Ayan     56
7     Ali     65
8    Adil     87
9   Adeel     67
10   Ayan     87
11    Ali     45
12   Adil     76
13  Adeel     45
14   Ayan     76

After Grading
     Name  Marks   Grade
0    Adil     23    Fail
1   Adeel     24    Fail
2    Ayan     25    Fail
3     Ali     26    Fail
4    Adil     27    Fail
5   Adeel     45    Fail
6    Ayan     56  Normal
7     Ali     65       B
8    Adil     87       A
9   Adeel     67       B
10   Ayan     87       A
11    Ali     45    Fail
12   Adil     76       B
13  Adeel     45    Fail
14   Ayan     76       B

In [19]:
df.index=["Student1","Student2","Student3","Student4","Student5","Student6","Student7","Student8","Student9","Student10","Student11","Student12","Student13","Students14","Students15"]

In [20]:
print(df)

             Name  Marks   Grade
Student1     Adil     23    Fail
Student2    Adeel     24    Fail
Student3     Ayan     25    Fail
Student4      Ali     26    Fail
Student5     Adil     27    Fail
Student6    Adeel     45    Fail
Student7     Ayan     56  Normal
Student8      Ali     65       B
Student9     Adil     87       A
Student10   Adeel     67       B
Student11    Ayan     87       A
Student12     Ali     45    Fail
Student13    Adil     76       B
Students14  Adeel     45    Fail
Students15   Ayan     76       B

In [31]:
data={
    "Name":["BOB","Alice","Adil","Dacic"],
    "Age":[23,43,20,33],
    "Occupasion":["Doctor","Lawer","Programer","Enginer"]
}
df=pd.DataFrame(data)

df.index=["Person 1 :","Person 2 :", "Person 3 :", "Person 4 :"]
print(df)
df["Age"]=df["Age"].astype(str)
print("\n",df)

             Name  Age Occupasion
Person 1 :    BOB   23     Doctor
Person 2 :  Alice   43      Lawer
Person 3 :   Adil   20  Programer
Person 4 :  Dacic   33    Enginer

              Name Age Occupasion
Person 1 :    BOB  23     Doctor
Person 2 :  Alice  43      Lawer
Person 3 :   Adil  20  Programer
Person 4 :  Dacic  33    Enginer